<page id='menu'>

<!-- Heading Section  -->
<section id="page-main-section" class="parallax-window page-main" data-parallax="scroll" data-image-src="http://placehold.it/1350x400/444444">
  <div class="container">
    <h3 class="page-subtitle">Discover</h3>
    <h1 class="page-title">Fresh Menu</h1>
  </div>
</section>
<!-- Heading Section Ends  -->

<!-- Divider 1 -->
<div class="divider1"></div>
<!-- Divider 1 Ends -->

<!-- Menu Section 1 -->
<section id="menu-1" class="menu-items">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- Menu Items -->
      <div class="col col-md-6 col-sm-6 wow fadeInLeft" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.1s">
        <!-- Menu Titles -->
        <div class="menu-title">
          <h2>Starters</h2>
        </div>
        <!-- Menu Title End -->
        <div class="menu-list">
          <div class="row">
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eturio covero eostn des justo. Lorem ipsum</p>
              <p class="sub">Duolore constetur sadip dona sit amascing elitrvero</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$4.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Lorem ipsum dolor sit amet dolore</p>
              <p class="sub">Sando donmingo sit amet</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$5.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eostn des justo. sit amet concelibere tradionale</p>
              <p class="sub">Dona sit amascing elitrvero loabre iat</p>
            </div>

            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$3.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Cnsetetur sad garodiane noeros st</p>
              <p class="sub">Elitrvero lobre dona eltivore eos sadipi sit</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$6.90</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- Menu Item Ends -->

      <div class="col col-md-6 col-sm-6 wow fadeInRight" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.6s">
        <!-- Menu Titles -->
        <div class="menu-title">
          <h2>Breakfast</h2>
        </div>
        <!-- Menu Title Ends -->

        <!-- Menu List -->
        <div class="menu-list">
          <div class="row">
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eturio covero eostn des justo. Lorem ipsum</p>
              <p class="sub">Duolore constetur sadip dona sit amascing elitrvero</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$4.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Lorem ipsum dolor sit amet dolore</p>
              <p class="sub">Sando donmingo sit amet</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$5.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eostn des justo. sit amet concelibere tradionale</p>
              <p class="sub">Dona sit amascing elitrvero loabre iat</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$3.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Cnsetetur sad garodiane noeros st</p>
            <p class="sub">Elitrvero lobre dona eltivore eos sadipi sit</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$6.90</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- Menu List Ends -->
      
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->
</section>
<!-- Section Menu 1 Ends -->

<!-- Divider 2 -->
<div class="divider2"></div>
<!-- Divider 2 Ends -->

<!-- Section Page Sub Title  -->
<section class="parallax-window page-sub-title img_overlay" data-parallax="scroll" data-image-src="http://placehold.it/1350x900/666666">
  <div class="container">
    <div class="row">
      <div class="col col-md-12">
        <h3 class="page-subtitle">Discover</h3>
        <h2 class="page-title">Main Dishes</h2>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
<!-- Page Sub Title Ends -->

<!-- Divider 1 -->
<div class="divider1"></div>
<!-- Divider 1 Ends -->

<!-- Section Menu - -->      
<section id="menu-2" class="menu-items">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <!-- Menu Title -->
        <div class="menu-title">
          <h2>Main Dishes</h2>
        </div>
        <!-- Menu Title Ends -->
      </div>
      <div class="clearfix"></div>
      <!-- Menu List -->
      <div class="col col-md-6 col-sm-6 wow fadeInLeft" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.6s">
        <div class="menu-list">
          <div class="row">
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eturio covero eostn des justo. Lorem ipsum</p>
              <p class="sub">Duolore constetur sadip dona sit amascing elitrvero</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$4.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Lorem ipsum dolor sit amet dolore</p>
              <p class="sub">Sando donmingo sit amet</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$5.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eostn des justo. sit amet concelibere tradionale</p>
              <p class="sub">Dona sit amascing elitrvero loabre iat</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$3.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Cnsetetur sad garodiane noeros st</p>
              <p class="sub">Elitrvero lobre dona eltivore eos sadipi sit</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$6.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eturio covero eostn des justo. Lorem ipsum</p>
              <p class="sub">Duolore constetur sadip dona sit amascing elitrvero</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$4.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Lorem ipsum dolor sit amet dolore</p>
              <p class="sub">Sando donmingo sit amet</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$5.90</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="col col-md-6 col-sm-6 wow fadeInRight" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.1s">
        <div class="menu-list">
          <div class="row">
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eturio covero eostn des justo. Lorem ipsum</p>
              <p class="sub">Duolore constetur sadip dona sit amascing elitrvero</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$4.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Lorem ipsum dolor sit amet dolore</p>
              <p class="sub">Sando donmingo sit amet</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$5.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eostn des justo. sit amet concelibere tradionale</p>
              <p class="sub">Dona sit amascing elitrvero loabre iat</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$3.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Cnsetetur sad garodiane noeros st</p>
              <p class="sub">Elitrvero lobre dona eltivore eos sadipi sit</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$6.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eturio covero eostn des justo. Lorem ipsum</p>
              <p class="sub">Duolore constetur sadip dona sit amascing elitrvero</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$4.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Lorem ipsum dolor sit amet dolore</p>
              <p class="sub">Sando donmingo sit amet</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$5.90</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- Menu List Ends -->
      <div class="clearfix"></div>
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->
</section>
<!-- Section Menu 2 Ends -->

<!-- Divider 2 -->
<div class="divider2"></div>
<!-- Divider 2 Ends -->

<!-- Section Chalkboard Menu -->
<section class="page-sub-title dec-border chalkbmenu parallax-window" data-parallax="scroll" data-image-src="<%= image_path("breackf.jpg") %>">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <!-- ChalkBoard Menu -->
      <div class="col col-md-12">
        <%= image_tag('garlic.png', class: 'border img-1') %>
        <h3 class="page-subtitle">Discover</h3>
        <h2 class="page-title">Daily Menu</h2>
        <div class="menu-section">
          <div class="row">
            <div class="col col-md-11 col-sm-11 col-xs-12 wow fadeInLeft" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="0.1s">
              <h4 class="menu-heading">Mushroom Soup with bread</h4>
            </div>
            <div class="col col-md-1 col-sm-1 col-xs-12 text-right wow fadeInRight" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="0.2s">
              <h4>$4.90</h4>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-11 col-sm-11 col-xs-12 wow fadeInLeft" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="0.5s">
              <h4 class="menu-heading">Chicken breast with onions and potatos</h4>
            </div>
            <div class="col col-md-1 col-sm-1 col-xs-12 text-right wow fadeInRight" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="0.6s">
              <h4>$11.90</h4>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-11 col-sm-11 col-xs-12 wow fadeInLeft" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="0.9s">
              <h4 class="menu-heading">Cheesecake</h4>
            </div>
            <div class="col col-md-1 col-sm-1 col-xs-12 text-right wow fadeInRight" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="1s">
              <h4>$3.50</h4>
            </div>
          </div>
        </div>
        <%= image_tag('mint-leaves.png', class: 'border img-2') %>
      </div>
      <!-- Chalkboard Menu Ends -->
      <div class="clearfix"></div>
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->
</section>

<!-- Section Chalkboard Menu Ends -->

<!-- Divider 1 -->
<div class="divider1"></div>
<!-- Divider 1 Ends -->

<!-- Section Menu 1 -->
<section id="menu-3" class="menu-items">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <div class="col col-md-6 col-sm-6 wow fadeInLeft" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.1s">
        
        <!-- Menu Title -->
        <div class="menu-title">
          <h2>Salads</h2>
        </div>
        <!-- Menu Title Ends -->

        <!-- Menu List -->
        <div class="menu-list">
          <div class="row">
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eturio covero eostn des justo. Lorem ipsum</p>
              <p class="sub">Duolore constetur sadip dona sit amascing elitrvero</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$4.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Lorem ipsum dolor sit amet dolore</p>
              <p class="sub">Sando donmingo sit amet</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$5.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eostn des justo. sit amet concelibere tradionale</p>
              <p class="sub">Dona sit amascing elitrvero loabre iat</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$3.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Cnsetetur sad garodiane noeros st</p>
              <p class="sub">Elitrvero lobre dona eltivore eos sadipi sit</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$6.90</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- Menu List Ends -->
      </div>
      <div class="col col-md-6 col-sm-6 wow fadeInRight" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.6s">
        <!-- Menu Title -->
        <div class="menu-title">
          <h2>Desserts</h2>
        </div>
        <!-- Menu Title Ends -->

        <!-- Menu List -->
        <div class="menu-list">
          <div class="row">
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eturio covero eostn des justo. Lorem ipsum</p>
              <p class="sub">Duolore constetur sadip dona sit amascing elitrvero</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$4.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Lorem ipsum dolor sit amet dolore</p>
              <p class="sub">Sando donmingo sit amet</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$5.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Eostn des justo. sit amet concelibere tradionale</p>
              <p class="sub">Dona sit amascing elitrvero loabre iat</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$3.90</p>
            </div>
            <div class="clearfix"></div>
            <div class="col col-md-10 col-sm-10 col-xs-9 menu-item-name">
              <p class="main-item-title">Cnsetetur sad garodiane noeros st</p>
              <p class="sub">Elitrvero lobre dona eltivore eos sadipi sit</p>
            </div>
            <div class="col col-md-2 col-sm-2 col-xs-3 menu-item-price">
              <p>$6.90</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- Menu List Ends -->
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->
</section>
<!-- Section Menu 2 Ends -->

<div class="divider2"></div>

<!-- Testimonials Section -->
<section id="testimonials" class="parallax-window img_overlay last_sec" data-parallax="scroll" data-image-src="http://placehold.it/1350x900/9a6b1e/ffffff">
  <!-- Container -->
  <div class="container">
    <!-- Header section  for Titles -->
    <div class="header">
      <h3 class="section-title">Find Out</h3>
      <h4 class="section-subtitle">What people Say</h4>
    </div>
    <!-- Header section  for Titles End -->

    <!-- Row -->
    <div class="row text-center slick-slider">
      <!-- Testimonial Columns -->
      <div class="col col-md-12">
        <img class="folio-img" src="http://placehold.it/100x100/dfa240/ffffff" alt="Portfolio img">
          <h3 class="tes-statement">After Del Gusto an other great Restaurant theme</h3>
          <p class="tes-author">John Doe</p>
      </div>
      <div class="col col-md-12">
        <img class="folio-img" src="http://placehold.it/100x100/9a6b1e/ffffff" alt="Portfolio img">
        <h3 class="tes-statement">After Del Gusto an other great Restaurant theme</h3>
        <p class="tes-author">John Doe</p>
      </div>
      <div class="col col-md-12">
        <img class="folio-img" src="http://placehold.it/100x100/bd7603/ffffff" alt="Portfolio img">
        <h3 class="tes-statement">After Del Gusto an other great Restaurant theme</h3>
        <p class="tes-author">John Doe</p>
      </div>
      <!-- Testimonial Columns End -->
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->
</section>
<!-- Section Testimonials End -->
