<div id="main">
    <!-- Section Main Image Section -->
    <section id="mainimg" class="parallax-window img_overlay" data-parallax="scroll" data-image-src="http://placehold.it/1350x900/444444">
        <!-- Img Section -->
        <div class="img-section">
            <!-- Container -->
            <div class="container">
                <!-- Row -->
                <div class="row">
                    <!-- Column Text Content -->
                    <div class="col col-md-7">
                        <!-- Main Image Content Class -->
                        <div class="mainimg-content">
                            <h4 class="wow fadeInDown" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.1s">Welcome to comida!</h4>
                            <h1 class="wow fadeInLeft" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.7s">We are Excited <span>to Cook for</span> You <span>Today</span>!</h1>
                            <p class="wow fadeInUp" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="1.3s"><span>Comida</span> - Spices from all over the World selected
                                <br />just for You. For the perfect food Experience.</p>
                        </div>
                    </div>
                    <!-- Main Image Content Class ends -->

                    <!-- Form Section Column -->
                    <div class="col col-md-5 form-section wow fadeInRight" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.2s">
                        <!-- Form Outer Section -->
                        <div class="form bookatable">
                            <!-- Form Inner Container -->
                            <div class="form-container form-fields">
                                <!-- Book Table Form -->
                                <form id="bk_form" action="php/book.php" method="post">
                                    <p class="icon">
                                        <i class="fa fa-calendar"></i>
                                    </p>
                                    <h3>Book a table</h3>
                                    <h4 class="tagline">Great Food needs perfect Ingredients</h4>
                                    <p class="text-center diam_img">
                                        <%= image_tag('diamond') %>
                                    </p>
                                    <div id="response">
                                        <!--This will hold our error messages and the response from the server. -->
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="numguest">Guest:</label>
                                        <input class="form-control" id="numguest" type="number" name="numguest" placeholder="How Many Guests" />
                                    </div>
                                    <div class="form-group">
                                        <label for="emailid">Email:</label>
                                        <input class="form-control" type="email" id="emailid" placeholder="Your Email Address" name="emailid" />
                                    </div>
                                    <div class="form-group">
                                        <label>Date and Time:</label>
                                        <input type="text" id="datetimepick" class="datetimepick" placeholder="When do you want to Book" name="datetimepick" />
                                    </div>
                                    <div class="form-group">
                                        <label for="suggestions">Your Suggestions:</label>
                                        <textarea name="suggestions" id="suggestions" placeholder="How can we help you?" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button id="submit" name="submit" type="submit" class="btn btn-1 btn-1e">Make Your Booking</button>
                                    </div>
                                </form>
                                <!-- Book Table Form Ends -->
                            </div>
                            <!-- Form Inner Container Ends -->
                        </div>
                        <!-- Form Outer Section Ends -->
                    </div>
                    <!-- Form Section Column Ends -->
                    <div class="clearfix"></div>
                </div>
                <!-- Row Ends -->
            </div>
            <!-- Container Ends -->
        </div>
        <!-- Img Section Ends -->
    </section>
    <!-- Section Main Image Ends -->

    <!-- Divider 1 -->
    <div class="divider1"></div>
    <!-- Divider 1 Ends -->

    <!-- Section Restaurant Details -->
    <section id="res-details">
        <!-- Row -->
        <div class="row">
            <!-- Column Address Details -->
            <div class="col col-md-7">
                <div class="row details text-center">
                    <div class="col col-md-4 col-sm-6 col-md-offset-2 wow fadeInDown" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.1s">
                        <h4>OPENING HOURS</h4>
                        <p>Monday - Friday
                            <br />8am - 11pm</p>
                        <p>Saturday - Sunday
                            <br />10am - 11pm</p>
                    </div>
                    <div class="col col-md-5 col-sm-6  wow fadeInUp" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.6s">
                        <h4>LOCATION</h4>
                        <p>Beststreet 78
                            <br />Vienna</p>
                        <p>0043 660 472 66 8
                            <br />hello@comida.com</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- Column Address Details Ends -->

            <!-- Blank Column -->
            <div class="col col-md-5">
                &nbsp;
            </div>
            <!-- Blank Column Ends -->
            <div class="clearfix"></div>
        </div>
        <!-- Row Ends -->
    </section>
    <!-- Section Restaurant Details Ends -->

    <!-- Section Fress Menu -->
    <section id="freshmenu" class="parallax-window img_overlay" data-parallax="scroll" data-image-src="http://placehold.it/1350x900/222222">
        <!-- Container -->
        <div class="container">
            <!-- Header section  for Titles -->
            <div class="header">
                <h3 class="section-title">Discover</h3>
                <h4 class="section-subtitle">Fresh Menu</h4>
            </div>
            <!-- Header section  for Titles End -->

            <!-- Row, Menu Items -->
            <div class="row menu-items">
                <!-- Item Columns -->
                <div class="col item col-md-4 col-sm-6 wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="0.1s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                            <p class="new">New</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col item col-md-4 col-sm-6 wow wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="0.3s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col item col-md-4 col-sm-6 wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="0.5s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col item col-md-4 col-sm-6 wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="0.7s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col item col-md-4 col-sm-6 wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="0.9s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                            <p class="new">New</p>
                        </div>
                    </div>
                </div>
                <div class="col item col-md-4 col-sm-6 wow wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="1.1s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col item col-md-4 col-sm-6 wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="1.3s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                        </div>
                    </div>
                </div>
                <div class="col item col-md-4 col-sm-6 wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="1.5s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col item col-md-4 col-sm-6 wow fadeInDown" data-wow-offset="50" data-wow-duration="0.2s" data-wow-delay="1.7s">
                    <div class="col-menu">
                        <div class="col col-md-9 col-sm-9 col-xs-9">
                            <h4 class="item-heading">Roasted Fillet</h4>
                            <p>with razor clams, lovage, onions teramasalata, milk, and beurre noisette</p>
                        </div>
                        <div class="col col-md-3 col-sm-3 col-xs-3">
                            <h4 class="item-price">$ 23.50</h4>
                            <p class="new">New</p>
                        </div>
                    </div>
                </div>
                <!-- Item Column Ends -->
                <div class="clearfix"></div>

                <!-- Menu Button -->
                <div class="col col-md-12 menubutton text-center">
                    <h3 class="sub-title">
                        <a href="menu.html"> View Full Menu </a>
                    </h3>
                </div>
                <!-- Menu Button Ends -->
                <div class="clearfix"></div>
            </div>
            <!-- Row, Menu items End -->
        </div>
        <!-- Container Ends -->
    </section>
    <!-- Section Fresh Menu Ends -->

    <!-- Divider 1 -->
    <div class="divider1"></div>
    <!-- Divider 1 Ends -->

    <!-- Our Story Section -->
    <section id="ourstory" class="divd_sec">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Column Image Section -->
                <div class="col col-md-6 col-sm-6 wow fadeInLeft" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <div class="ie-container">
                        <img src="http://placehold.it/500x658/333333" alt="Food" />
                    </div>
                </div>
                <!-- Column Image Section Ends -->

                <!-- Column Text Section -->
                <div class="col col-md-6 col-sm-6 text-center section-content wow fadeInRight" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <%= image_tag('spoons') %>
                    <h2 class="main-title">Our Story</h2>
                    <h4 class="tagline">Daily Chosen Dishes for Everyone</h4>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                        <br />Cras ultricies ligula sed magna dictum porta. Nulla porttitor
                        <br />accumsan tincidunt. Nulla petro.porttitor at sem. Cras
                        <br />ultricies ligula sed magna dictum porta.</p>
                    <h4 class="sub-title"><a href="about.html">More About Us</a></h4>
                    <img class="folio-img" src="http://placehold.it/100x100/888888" alt="Portfolio img" />
                    <h4 class="staff-name">Shara Gilmore</h4>
                    <h4 class="staff-designation">Head of Staff</h4>
                    <p>Curabitur arcu erat, accumsan id imperdiet et,
                        <br />porttitor at sem nulla porttitor</p>
                </div>
                <!-- Column Text Section Ends -->

                <div class="clearfix"></div>
            </div>
            <!-- Row Ends -->
        </div>
        <!-- Container Ends -->
    </section>
    <!-- Our Story Section Ends -->

    <!-- Newsletter Section -->
    <section id="newsletter" class="newsletter">
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row">
                <!-- Newsletter Title -->
                <div class="col col-md-5 wow wow fadeInLeft" data-wow-offset="50" data-wow-duration="0.5s" data-wow-delay="0.1s">
                    <h2 class="newsletter-title">Newsletter </h2>
                    <p class="news_desc">Sign up to get updates about our events</p>
                </div>
                <!-- Newsletter Title Ends -->

                <!-- Newsletter form -->
                <div class="col col-md-7">
                    <form action="index.php" method="post">
                        <div class="row">
                            <div class="col col-md-4 col-sm-4 wow fadeInRight" data-wow-offset="20" data-wow-duration="0.2s" data-wow-delay="0.2s">
                                <input type="email" name="email" placeholder="Your E-mail" />
                            </div>
                            <div class="col col-md-4 col-sm-4 wow fadeInRight" data-wow-offset="20" data-wow-duration="0.2s" data-wow-delay="0.5s">
                                <input type="text" name="name" placeholder="Name" />
                            </div>
                            <div class="col col-md-4 col-sm-4 text-right wow fadeInRight" data-wow-offset="20" data-wow-duration="0.2s" data-wow-delay="0.8s">
                                <button type="submit" class="btn btn-1 btn-1e">Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Newsletter Form Ends -->
                <div class="clearfix"></div>
            </div>
            <!-- Row Ends -->
        </div>
        <!-- Container Ends -->
    </section>
    <!-- Section Newsletter Ends -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="parallax-window img_overlay last_sec" data-parallax="scroll" data-image-src="http://placehold.it/1350x900/9a6b1e">
        <!-- Container -->
        <div class="container">
            <!-- Header section  for Titles -->
            <div class="header">
                <h3 class="section-title">Find Out</h3>
                <h4 class="section-subtitle">What people Say</h4>
            </div>
            <!-- Header section  for Titles End -->

            <!-- Row -->
            <div class="row text-center slick-slider">
                <!-- Testimonial Columns -->
                <div class="col col-md-12">
                    <img class="folio-img" src="http://placehold.it/100x100/dfa240/ffffff" alt="Portfolio img">
                    <h3 class="tes-statement">After Del Gusto an other great Restaurant theme</h3>
                    <p class="tes-author">John Doe</p>
                </div>
                <div class="col col-md-12">
                    <img class="folio-img" src="http://placehold.it/100x100/9A6B1E/ffffff" alt="Portfolio img">
                    <h3 class="tes-statement">After Del Gusto an other great Restaurant theme</h3>
                    <p class="tes-author">John Doe</p>
                </div>
                <div class="col col-md-12">
                    <img class="folio-img" src="http://placehold.it/100x100/BD7603/ffffff" alt="Portfolio img">
                    <h3 class="tes-statement">After Del Gusto an other great Restaurant theme</h3>
                    <p class="tes-author">John Doe</p>
                </div>
                <!-- Testimonial Columns End -->
            </div>
            <!-- Row Ends -->
        </div>
        <!-- Container Ends -->

    </section>
    <!-- Section Testimonials End -->
    <!-- Footer -->
    <footer>
        <!-- Container -->
        <div class="container">
            <!-- Row -->
            <div class="row text-center">
                <div class="col col-md-12 wow fadeInDown" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="0.1s">
                    <p class="copyrights"> &copy; 2015 
                    <a href="http://themeforest.net/item/comida-a-responsive-restaurant-html-template/12367783?ref=crelegant" target="_blank" class="foot_logo">Comida</a>,
                      Crafted by <a href="http://themeforest.net/user/pixxli/portfolio?ref=pixxli" target="_blank"> Pixxli </a> &amp; <a href="http://themeforest.net/user/crelegant/portfolio?ref=crelegant" target="_blank">The Crelegant Team</a>, All Rights Reserved.</p>
                </div>
            </div>
            <!-- Row Ends -->
        </div>
        <!-- Container Ends -->
    </footer>
    <!-- Footer Ends -->
</div>
