<!-- Footer -->
<footer>
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row text-center">
      <div class="col col-md-12 wow fadeInDown" data-wow-offset="30" data-wow-duration="0.3s" data-wow-delay="0.1s">
        <p class="copyrights"> &copy; 2009-<%= Time.now.year %> Shaan Indian Cuisine
      </div>
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container Ends -->
</footer>
<!-- Footer Ends -->
