<ul class="menu top-menu">
    <li class="selected">
        <a href="index.html">Home </a>
    </li>
    <li>
        <a href="about.html">About </a>
    </li>
    <li>
        <a href="menu.html">
            <span data-hover="MENU">Menu</span>
        </a>
    </li>
    <li>
        <a href="gallery.html">
            <span data-hover="GALLERY">Gallery</span>
        </a>
    </li>
    <li>
        <a href="reservation.html">
            <span data-hover="RESERVATION">Reservation</span>
        </a>
    </li>
    <li>
        <a href="contact.html">
            <span data-hover="CONTACT">Contact</span>
        </a>
    </li>
</ul>

<!--
<%
  render_tabnav class: 'menu top-menu' do |nav|
    nav.add_tab do |tab|
      tab.named "Home"
      tab.links_to root_path
      tab.highlights_on :controller => :home, :action => :index
    end
    nav.add_tab do |tab|
      tab.named "About"
      tab.links_to about_path
      tab.highlights_on :controller => :about
    end
    nav.add_tab do |tab|
      tab.named "Menu"
      tab.links_to menu_path
      tab.highlights_on :controller => :menu
    end
    nav.add_tab do |tab|
      tab.named "Gallery"
      tab.links_to gallery_path
      tab.highlights_on :controller => :gallery
    end
    nav.add_tab do |tab|
      tab.named "Contact"
      tab.links_to contact_path
      tab.highlights_on :controller => :contact
    end
  end
%>
-->
